<div class="auth-container">
  <p-card header="Register for DashLink">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="email">Email</label>
        <p-iconField iconPosition="left">
          <p-inputIcon><i class="pi pi-envelope"></i></p-inputIcon>
          <input pInputText id="email" type="email" formControlName="email" required>
        </p-iconField>
        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          @if (registerForm.get('email')?.errors?.['required']) {
            <p-message severity="error" text="Email is required."></p-message>
          }
          @if (registerForm.get('email')?.errors?.['email']) {
            <p-message severity="error" text="Please enter a valid email address."></p-message>
          }
        }
      </div>

      <div class="p-field">
        <label for="password">Password</label>
        <p-iconField iconPosition="left">
          <p-inputIcon><i class="pi pi-lock"></i></p-inputIcon>
          <input pInputText id="password" type="password" formControlName="password" required>
        </p-iconField>
        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          @if (registerForm.get('password')?.errors?.['required']) {
            <p-message severity="error" text="Password is required."></p-message>
          }
          @if (registerForm.get('password')?.errors?.['minlength']) {
            <p-message severity="error" text="Password must be at least 6 characters long."></p-message>
          }
        }
      </div>

      <div class="p-field">
        <label for="confirmPassword">Confirm Password</label>
        <p-iconField iconPosition="left">
          <p-inputIcon><i class="pi pi-lock"></i></p-inputIcon>
          <input pInputText id="confirmPassword" type="password" formControlName="confirmPassword" required>
        </p-iconField>
        @if (registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched) {
          @if (registerForm.get('confirmPassword')?.errors?.['required']) {
            <p-message severity="error" text="Confirm Password is required."></p-message>
          }
        }
        @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched) {
          <p-message severity="error" text="Passwords do not match."></p-message>
        }
      </div>

      @if (messages.length > 0) {
        <p-messages [value]="messages" [enableService]="false"></p-messages>
      }

      <p-button label="Register" type="submit" [disabled]="!registerForm.valid"></p-button>
    </form>
    <p-button label="Sign up with Google" icon="pi pi-google" (click)="signInWithGoogle()" styleClass="p-button-secondary p-mt-3"></p-button>
    <div class="p-card-footer">
      <p>Already have an account? <a style="cursor: pointer;" routerLink="/auth/login">Login here</a></p>
    </div>
  </p-card>
</div>
