<div class="dashboard-container flex flex-column">
  <div class="search-container w-full px-3 p-1 surface-0 border-round shadow-1 mb-2 flex align-items-center">
    <i class="pi pi-search" style="display: inline;"></i>
    <span class="p-input-icon-left flex-grow-1">
      <input type="text" pInputText [placeholder]="isGlobalSearch ? 'Search globally...' : 'Search current collection...'" [formControl]="searchControl" class="w-full">
    </span>
    <p-toggleswitch
      [(ngModel)]="isGlobalSearch"
      (ngModelChange)="toggleSearchMode($event)"
      class="ml-2"
      [ngStyle]="{'width': '3.5rem', 'height': '2rem'}"
    >
      <ng-template #handle let-checked="checked">
        <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-globe' : 'pi-folder']" style="font-size: 1rem;"></i>
      </ng-template>
    </p-toggleswitch>
  </div>

  <header class="dashboard-header flex flex-column w-full p-2 mb-3 surface-0 border-round shadow-1">
    @if (!isGlobalSearch) {
    <div class="header-content-row flex align-items-center justify-content-between w-full p-2">
      <div class="header-left flex align-items-center" >
        @if (showBackButton) {
          <button pButton icon="pi pi-arrow-left" (click)="goBack()" pTooltip="Back to Parent" class="p-button-text p-button-sm mr-2"></button>
        }
        <h2 class="collection-name text-2xl font-bold m-0">{{ currentCollection?.name || 'My Collections' }}</h2>
      </div>
      <div class="header-right flex align-items-center">
        <button pButton icon="pi pi-plus" (click)="additionalMenu.toggle($event)" pTooltip="Add New" class="p-button p-button-plain mr-2"></button>
        <p-menu #additionalMenu [model]="additionalMenuItems" [popup]="true" appendTo="body"></p-menu>
      </div>
    </div>
    <div class="header-breadcrumb-row w-full">
      <p-breadcrumb [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
    </div>
    } @else {
      <div class="global-search-active flex align-items-center justify-content-center w-full p-1">
        <h2 class="text-xl font-bold m-0">Global Search is Active</h2>
      </div>
    }
  </header>

  @if ((dashboardItems$ | async)?.length === 0) {
    <div class="empty-state flex flex-column align-items-center justify-content-center flex-grow-1 text-center p-4">
      <i class="pi pi-folder-open empty-state-icon text-7xl text-400 mb-4"></i>
      <p class="text-xl text-500">No collections or nodes yet. Start by adding a new one!</p>
    </div>
  } @else {
    <div class="grid">
      <p-dataView #dv [value]="(dashboardItems$ | async) || []" layout="list" class="col-12 dashboard-list-items my-2" [trackBy]="trackByItemId">
        <ng-template #list let-items>
          <div *ngFor="let item of items" class="col-12 flex-grow-1 p-1">
            <ng-container *ngIf="item.type === 'collection'">
              <app-collection-card
                [collection]="item"
                (viewCollection)="goToCollection(item.id)"
                (editCollection)="editCollection(item)"
                (deleteCollectionRequest)="confirmDeleteItem(item.id, 'collection', $event.target)"
              ></app-collection-card>
            </ng-container>
            <ng-container *ngIf="item.type === 'node'">
              <app-node-card
                [node]="item"
                (editNode)="editNode(item)"
                (deleteNodeRequest)="confirmDeleteItem($event.id, 'node', $event.target)"
                (nodeClicked)="openViewNodeDialog(item)">
              </app-node-card>
            </ng-container>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  }
</div>