<div class="dashboard-container flex flex-column h-full">
  <p-card class="mb-3">
    <ng-template pTemplate="header">
      <div class="flex align-items-center relative w-full">
        @if (currentCollectionId) {
          <p-button icon="pi pi-arrow-left" (click)="goBack()" pTooltip="Back to Parent" styleClass="p-button-text p-button-sm absolute left-0"></p-button>
        }
        <h2 class="text-2xl font-semibold m-0 text-center flex-grow-1">{{ currentCollection?.name || 'My Collections' }}</h2>
      </div>
    </ng-template>
  </p-card>

  @if ((collections$ | async)?.length === 0 && (links$ | async)?.length === 0) {
    <div class="empty-state flex flex-column align-items-center justify-content-center flex-grow-1 text-center p-4">
      <i class="pi pi-folder-open empty-state-icon text-7xl text-400 mb-4"></i>
      <p class="text-xl text-500">No collections or links yet. Start by adding a new one!</p>
    </div>
  } @else {
    <div class="grid">
      <p-dataView #dv [value]="(collections$ | async) || []" layout="grid" class="col-12">
        <ng-template pTemplate="grid" let-collection>
          <div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-4">
            <app-collection-card
              [collection]="collection"
              (viewCollection)="goToCollection($event)"
              (editCollection)="editCollection($event)"
              (deleteCollection)="deleteCollection($event)"
            ></app-collection-card>
          </div>
        </ng-template>
      </p-dataView>

      <p-dataView #dvLinks [value]="(links$ | async) || []" layout="grid" class="col-12">
        <ng-template pTemplate="grid" let-link>
          <div class="col-12 sm:col-6 md:col-4 lg:col-3 mb-4">
            <app-link-card
              [link]="link"
              (editLink)="editLink($event)"
              (deleteLink)="deleteLink($event)"
            ></app-link-card>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  }

  <div class="p-fixed bottom-0 right-0 m-4">
    <p-button icon="pi pi-plus" (click)="menu.toggle($event)" pTooltip="Add New" styleClass="p-button-rounded p-button-success p-button-lg"></p-button>
    <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  </div>
</div>
