<div class="dashboard-container flex flex-column h-full">
  <p-card class="mb-3">
    <ng-template pTemplate="header">
      <div class="flex align-items-center relative w-full">
        @if (currentCollectionId) {
          <p-button icon="pi pi-arrow-left" (click)="goBack()" pTooltip="Back to Parent" styleClass="p-button-text p-button-sm absolute left-0"></p-button>
        }
        <h2 class="text-2xl font-semibold m-0 text-center flex-grow-1">{{ currentCollection?.name || 'My Collections' }}</h2>
      </div>
    </ng-template>
  </p-card>

  @if ((dashboardItems$ | async)?.length === 0) {
    <div class="empty-state flex flex-column align-items-center justify-content-center flex-grow-1 text-center p-4">
      <i class="pi pi-folder-open empty-state-icon text-7xl text-400 mb-4"></i>
      <p class="text-xl text-500">No collections or links yet. Start by adding a new one!</p>
    </div>
  } @else {
    <div class="grid">
      <p-dataView #dv [value]="(dashboardItems$ | async) || []" layout="list" class="col-12" [trackBy]="trackByItemId">
        <ng-template #list let-items>
          <div *ngFor="let item of items" class="col-12">
            <ng-container *ngIf="item.type === 'collection'">
              <app-collection-card
                [collection]="item"
                (viewCollection)="goToCollection(item.id)"
                (editCollection)="editCollection(item)"
                (deleteCollection)="deleteCollection(item.id)"
              ></app-collection-card>
            </ng-container>
            <ng-container *ngIf="item.type === 'link'">
              <app-link-card
                [link]="item"
                (editLink)="editLink(item)"
                (deleteLink)="deleteLink(item.id)"
              ></app-link-card>
            </ng-container>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  }

  <div class="p-fixed bottom-0 right-0 m-4">
    <p-button icon="pi pi-plus" (click)="menu.toggle($event)" pTooltip="Add New" styleClass="p-button-rounded p-button-success p-button-lg"></p-button>
    <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  </div>
</div>