<div class="workspace-card" (click)="onClick()">
  <div class="workspace-card-content">
    <div class="workspace-icon-wrapper">
      <app-icon name="users" class="workspace-icon"></app-icon>
    </div>
    <div class="workspace-info">
      <div class="workspace-title-row">
        <h3 class="workspace-title">{{ workspace.name }}</h3>
        @if (isOwner) {
          <span class="owner-badge">Owner</span>
        }
      </div>
      @if (workspace.description) {
        <p class="workspace-description">{{ workspace.description }}</p>
      }
      <div class="workspace-meta">
        <span class="meta-item">
          <app-icon name="user"></app-icon>
          {{ memberCount }}/{{ workspace.memberLimit }}
        </span>
        @if (workspace.metadata.category) {
          <span class="meta-item">
            <app-icon name="tag"></app-icon>
            {{ workspace.metadata.category }}
          </span>
        }
      </div>
    </div>
    <div class="workspace-arrow">
      <app-icon name="chevron-right"></app-icon>
    </div>
  </div>
</div>
