.workspace-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Adjust height based on navbar height */
  width: 100vw;  /* Fixed width relative to viewport */
  overflow: hidden; /* Hide any overflow from the workspace itself */
  margin-top: 60px; /* Push content below the fixed navbar */
}

.main-content-area {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto; /* Enable scrolling for content if it overflows */
  background-color: var(--surface-50); /* Light background for content area */
  
  @media screen and (min-width: 992px) { /* Apply only for desktop screens */
    max-width: 80vw; /* 75% of viewport width */
    width: 70%;
    margin: 0 auto; /* Center the content area */
  }
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust height as needed */
  background-color: var(--surface-800); /* Darker background for navbar */
  color: var(--surface-0);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for distinction */
  z-index: 100; /* Ensure it stays on top */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color); /* Use PrimeNG primary color */
}