<div class="link-item flex align-items-center justify-content-between p-3 border-round-md mb-2 cursor-pointer" (click)="onView()">
  <div class="flex align-items-center flex-grow-1">
    <i class="pi pi-link text-2xl mr-3"></i>
    <div class="flex flex-column">
      <span class="font-medium text-lg">{{ link.name }}</span>
      <span class="text-sm text-500">{{ link.url }}</span>
      @if (link.description) {
        <span class="text-xs text-400 mt-1">{{ link.description }}</span>
      }
    </div>
  </div>
  <div class="actions flex-shrink-0">
    <button type="button" pButton icon="pi pi-ellipsis-v" (click)="menu.toggle($event); $event.stopPropagation();" class="p-button-text p-button-secondary p-button-sm"></button>
    <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  </div>
</div>
<p-confirmPopup></p-confirmPopup>
