<div class="dialog-container">
  <div [formGroup]="collectionForm">
    <div class="p-field">
      <label for="name">Collection Name</label>
      <input id="name" type="text" class="dl-input" formControlName="name" placeholder="Collection Name" required>
      @if (collectionForm.get('name')?.invalid && collectionForm.get('name')?.touched) {
        <p class="dl-field-error">Collection Name is required.</p>
      }
    </div>

    <div class="p-field">
      <label for="description">Description</label>
      <textarea class="dl-textarea w-full" id="description" placeholder="Description (Optional)" formControlName="description"></textarea>
    </div>
  </div>
  <div class="p-dialog-footer">
    <app-btn class="footer-dismiss" label="Cancel" icon="times" (click)="onCancel()" variant="ghost"></app-btn>
    <app-btn label="Add" icon="check" (click)="onSubmit()" [disabled]="!collectionForm.valid"></app-btn>
  </div>
</div>
